h1 {
    text-align: center;
}

div {
    /* border: 1px solid red; */
}

.btn {
    background-color: royalblue;
    
}
.btn:hover {
    background-color: sandybrown;
    border-color: sandybrown;
}

#current-weather{
    background-color: #eaecef;
}

#currents {

    background-color: blue;
}
#current-header{
    color:white;
}

#search-block{
    border: 2px solid #eaecef
}